body {
    background-color: #FFFBFE;
}

h1,
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 250px;
    height: auto;
}